* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(15, 15, 15);
    color: white;
}
.container {
    width: 950px;
    margin: 100px auto;
    background-color:rgb(15, 15, 15);
    padding: 20px;
    border: 15px solid rgb(219, 215, 215);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d4d4d;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.perfil {
    display: flex;
    align-items: center;
}

.foto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
}

.funcionario {
    font-weight: bold;
}

.cargo {
    font-size: 12px;
}

.proximocargo {
    font-size: 15px;
}

.etapa {
    text-align: center;
    margin: 20px;
}

.tarefas {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.objetivos, .status {
    width: 50%;
    text-align: center;
    position: relative;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.linha-unica {
    position: absolute;
    top: 22px; 
    width: 100%;
    border-top: 2px solid rgb(255, 255, 255);
}

.linha-vertical {
    position: absolute;
    top: 40px;
    left: 70%;
    height: 93%;
    border-left: 2px solid rgb(255, 255, 255);
}

.Metas p {
    margin: 10px 0;
}

.status .dots {
    display: flex;
    flex-direction: column;    
    margin-left: 290px;
    padding: 20px;
}

.status .dot {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 0);
    border-radius: 50%;
    margin: 11.1px;
    transition: background-color 0.3s;
    padding: 10px;
margin-left: -10px;

}

.bonificacao {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #b0b0b0;
    border: 5px;
}

.desbloquear {
    text-align: center;
    margin-top: 20px;
}

.desbloquear button {
    padding: 10px 20px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.desbloquear button:hover {
    background-color: #00ff5e;
}

.linha {
    border: none;
    border-top: 2px solid rgb(255, 255, 255);
    margin: 20px 0;
    width: 100%;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; 
}

.tarefa button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.tarefa button:hover {
    background-color: #45a049; 
}