* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(15, 15, 15);
    background-image: url("img/fundo.png");
}

.botoes{
background-color:rgb(15, 15, 15);
height: 500px;
width: 500px;
margin-top: 10%;
margin-left: 40%;
display: flex;
flex-direction: column;
justify-content: center;
border: 5px solid rgb(243, 243, 243);
border-radius: 5px;
}
button{
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-left: 35%;
    border: none;
    border-radius: 5px;
    background-color: rgb(88, 21, 21);
    box-shadow: 0 0 5px 1px rgb(241, 2, 2);
    color: white;
    cursor: pointer;   
}
button:hover{
    background-color: rgb(26, 6, 6);
}
button:active{
    transform: translateY(2px);

}
h2{
    color:white;
    margin: 10px;
    align-self: center;
    margin-top: 15px;
}